@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;
@define-color purple #5a4fcf;
@define-color red #bf0000;

* {
    font-family: Iosevka Custom;
    font-size: 19;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    min-height: 0;
    opacity: 1.0;
}

window#waybar {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}
window#waybar.empty,
window#waybar.hidden {
    opacity: 0.4;
}

tooltip {
	color: @inverse_surface;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

tooltip label{
	color: @inverse_surface;
}
/*-----module groups----*/
.modules-right {
    margin: 7px 18px 0px 0;
	background-color: rgba(0,0,0,0.7);
	color: @secondary;
    border: 2px solid @purple;
	border-radius: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
.modules-center {
    margin: 7px 0 0 0;
	background-color: rgba(0,0,0,0.7);
	color: @secondary;
    border: 2px solid @purple;
	border-radius: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
.modules-left {
    margin: 7px 0px 0px 18px;
	background-color: rgba(0,0,0,0.7);
	color: @secondary;
    border: 2px solid @purple;
	border-radius: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 2px;
}

#workspaces button,
#workspaces {
    color: @foreground-inactive;
    margin: 0px 3px 0px 3px;
    padding-left: 0em;
    font-size: 1;
} 
#workspaces button.active {
    font-size: 1;
    color: white;
        border-bottom: 2px solid white; /* Sets a 2px solid white border at the bottom */
}
#workspaces button.empty {
    color: @foreground-inactive;
}
#workspaces button.urgent {
    color: @red;
}

#memory,
#battery,
#language,
#bluetooth,
#temperature,
#temperature.critical,
#mpris,
#clock,
#tray {
    margin: 0px 3px 0px 3px;
    padding-left: 0.65em;
    padding-right: 0.65em; 
}
#idle_inhibitor {
    margin: 0px 0px 0px 3px;
    padding-right: 0.65em; 
}
#network {
    margin: 0px 10px 0px 0px;
}
