@define-color kanagawa-blue #7E9CD8;
@define-color kanagawa-grey #b2ccd6;
@define-color kanagawa-red #E82424;
@define-color custom-purp #5a4fcf;
@define-color alt-grey #252525;
@define-color oled-black #000000;

* {
    font-family: "Mx437 IBM VGA 8x16";
    font-size: 26;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: @oled-black;
    color: #FFFFFF;
}

#tags button,
#workspaces button {
    background-color: @oled-black;
    color: #FFFFFF;
    padding: 5px 10px 0px 10px;
}

#tags button.occupied,
#workspaces button.focused,
#workspaces button.active {
    background-color: @alt-grey;
}

#tags button.urgent
#workspaces button.urgent {
	color: @kanagawa-red;
}

#network,
#temperature,
#backlight,
#wireplumber,
#cpu,
#memory,
#disk,
#mpris,
#clock,
#battery {
    padding: 5px 10px 0px 5px;
}

/* unique padding */
#window {
    padding: 5px 10px 0px 10px;
}

#mpris,
#tray {
   padding: 0px 0px 0px 15px;
}

/* grey colour */
.modules-right {
    background-color: @alt-grey;
}
#window {
    background-color: @alt-grey;
}

#battery.critical {
   color: #ff5555;
}

#network.disconnected {
    color: #ff5555;
}
