@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;
@define-color purple #5a4fcf;
@define-color red #bf0000;

* {
    font-family: Iosevka Custom;
    font-size: 19;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    min-height: 0;
    opacity: 1.0;
}

window#waybar {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}
window#waybar.empty,
window#waybar.hidden {
    opacity: 0.4;
}

tooltip {
	color: @inverse_surface;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

tooltip label{
	color: @inverse_surface;
}
/*-----module groups----*/
.modules-right {
    margin: 7px 10px 0px 0;
	/* background-color: rgba(0,0,0,0.7); */
	color: @secondary;
    /* border: 2px solid @purple; */
	border-radius: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
.modules-center {
    margin: 7px 0 0 0;
	/* background-color: rgba(0,0,0,0.7); */
	color: @secondary;
    /* border: 2px solid @purple; */
	border-radius: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
.modules-left {
    margin: 7px 0px 0px 14px;
	/* background-color: rgba(0,0,0,0.7); */
	color: @secondary;
    /* border: 2px solid @purple; */
	border-radius: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 2px;
}

#workspaces button {
    color: @foreground-inactive;
    margin: 0px 5px 0px 5px;
    font-size: 1;
	color: @secondary;
}

#workspaces {
    border-radius: 20px;
    border: 2px solid @purple;
	background-color: rgba(0,0,0,0.7);
} 

#hardware {
	background-color: rgba(0,0,0,0.7);
    border: 2px solid @purple;
	border-radius: 20px;
	padding-right: 0.5em;
    padding-left: 0.5em; 
}

#workspaces button.active {
    font-size: 1;
    color: white;
        border-bottom: 2px solid white; /* Sets a 2px solid white border at the bottom */
}
#workspaces button.empty {
    color: @foreground-inactive;
}
#workspaces button.urgent {
    color: @red;
}

#memory,
#battery,
#language,
#bluetooth,
#temperature,
#temperature.critical,
#mpris,
#network,
#cpu,
#pavucontrol,
#wireplumber,
#tray {
    /* border-radius: 20px; */
    /* border: 2px solid @purple; */
	/* background-color: rgba(0,0,0,0.7); */
    padding-right: 0.5em; 
    padding-left: 0.5em;
}

#mpris,
#tray {
    border-radius: 20px;
    border: 2px solid @purple;
	background-color: rgba(0,0,0,0.7);
    padding-right: 0.5em; 
    padding-left: 0.5em;

}

#clock {
    border-radius: 20px;
    border: 2px solid @purple;
	background-color: rgba(0,0,0,0.7);
    padding-right: 0.5em; 
    padding-left: 0.5em;
}

#idle_inhibitor {
    border-radius: 20px;
    border: 2px solid @purple;
	background-color: rgba(0,0,0,0.7);
    padding-left: 0.5em; 
    padding-right: 0.7em; 
}

#window {
    background-color: rgba(0, 0, 0, 0.7);
    color: @foreground;
    border: 2px solid @purple;
    border-radius: 20px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0px 5px;
}
window#waybar.empty #window {
    border-radius: 0px;
    border: 0px;
    padding-left: 0em;
    padding-right: 0em;
    margin: 0px 0px;

    background-color: transparent;
}
