@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;
@define-color purple #5a4fcf;
@define-color red #bf0000;
@define-color black rgba(0,0,0, 1);
@define-color grey rgba(59,59,59,1);

* {
    font-family: JetBrains Mono Medium;
    font-size: 20;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    min-height: 0;
    opacity: 1.0;
}

window#waybar {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

window#waybar.empty {
    opacity: 0.4;
}

tooltip {
	color: @inverse_surface;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

tooltip label{
	color: @inverse_surface;
}
/*-----module groups----*/
.modules-right {
    margin: 5px 5px 0px 0;
	color: @secondary;
	border-radius: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
.modules-center {
    margin: 5px 0 0 0;
	/* background-color: rgba(0,0,0,0.7); */
	color: @secondary;
    /* border: 2px solid @purple; */
	border-radius: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
.modules-left {
    margin: 5px 0px 0px 9px;
	/* background-color: rgba(0,0,0,0.7); */
	color: @secondary;
    /* border: 2px solid @purple; */
	border-radius: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 2px;
}

#workspaces {
	background-color: @black; 
    border: 2px solid @grey;
	border-radius: 20px;
	padding-right: 0.5em;
    padding-left: 0.5em; 
}

#workspaces button {
    color: @foreground-inactive;
    background-color: @black;
    margin: 0px 5px 0px 5px;
    font-size: 1;
	color: @secondary;
}

#hardware {
	background-color: @black; 
    border: 2px solid @grey;
	border-radius: 20px;
	padding-right: 0.5em;
    padding-left: 0.5em; 
}

#flex {
	background-color: @black; 
    border: 2px solid @grey;
	border-radius: 20px;
	padding-right: 0.5em;
    padding-left: 0.5em; 
}


#workspaces button.active {
    font-size: 1;
    color: @purple;
    /* border-bottom: 1.5px solid white; */
}
#workspaces button.empty {
    color: @foreground-inactive;
}
#workspaces button.urgent {
    color: @red;
}


#memory,
#battery,
#language,
#bluetooth,
#temperature,
#temperature.critical,
#mpris,
#network,
#cpu,
#pavucontrol,
#wireplumber,
#custom-os_icon,
#tray {
    /* border-radius: 20px; */
    /* border: 2px solid @purple; */
	/* background-color: rgba(0,0,0,0.7); */
    padding-right: 0.5em; 
    padding-left: 0.5em;
}

#mpris,
#tray {
    border-radius: 20px;
    border: 2px solid @grey;
    padding-right: 0.4em; 
    padding-left: 0.45em;
    background-color: @black; 
}

#custom-os_icon,
#clock {
    border-radius: 20px;
    border: 2px solid @grey;
	background-color: @black; 
    padding-right: 0.5em; 
    padding-left: 0.5em;
}

#idle_inhibitor {
    border-radius: 20px;
    border: 2px solid @grey;
	background-color: @black; 
    padding-left: 0.45em; 
    padding-right: 0.4em; 
}

#window {
    background-color: @black; 
    color: @foreground;
    border: 2px solid @grey;
    border-radius: 20px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
window#waybar.empty #window {
    border-radius: 0px;
    border: 0px;
    padding-left: 0em;
    padding-right: 0em;
    margin: 0px 0px;
    background-color: transparent;
}
