@define-color custom-purp #5a4fcf;
@define-color alt-grey #252525;
@define-color border-grey #595959;
@define-color oled-black #000000;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 22;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: @oled-black;
}

#tags button,
#workspaces button {
    background-color: @oled-black;
    color: @border-grey;
    padding: 5px 7px 0px 7px;
}

#tags button.occupied,
#workspaces button.focused,
#workspaces button.active {
    color: @custom-purp
}

#tags button.urgent
#workspaces button.urgent {
	color: @kanagawa-red;
}

#network,
#temperature,
#backlight,
#wireplumber,
#cpu,
#memory,
#disk,
#mpris,
#clock,
#battery {
    padding: 5px 10px 0px 5px;
}

/* unique padding */
#window {
    padding: 5px 10px 0px 10px;
}

#mpris,
#tray {
   padding: 0px 0px 0px 15px;
}

/* grey colour */
#custom-separator {
    color: @alt-grey;
    padding: 1px 0px 0px 2px;
}

/* .modules-right { */
    /* background-color: @alt-grey; */
/* } */
/* #window { */
    /* background-color: @alt-grey; */
/* } */

/* #battery.critical { */
   /* color: #ff5555; */
/* } */

/* #network.disconnected { */
    /* color: #ff5555; */
/* } */

